%h4 Assignments
-if @course.assignments.count > 0
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-striped
        %thead
          %tr
            %th Identifier
            %th Unsubmitted
            %th Ungraded
            %th Graded
        %tbody
          -@course.assignments.each do |assignment|
            %tr
              %td= assignment.description
              %td= link_to(assignment.submissions.unsubmitted.count, assignment_submissions_path(assignment,:unsubmitted))        
              %td= link_to(assignment.submissions.ungraded.count, assignment_submissions_path(assignment,:ungraded))        
              %td= link_to(assignment.submissions.graded.count, assignment_submissions_path(assignment,:graded))
-else
  %p You have no graders for this course