=form_tag graders_search_path(course), :method => "POST", :class => "form-inline" do |f|
  %input{type: "text", class: "form-control", placeholder: "Search by Username", name: :username, value: username}
  =submit_tag "Search for graders", :class => 'btn btn-primary'  