%div
  %h4= "Info for assignment #{submission.assignment.resource_link_id}"
  %p
    Username:
    =link_to(submission.student.username, student_path(submission.student))
  %p
    Current Grade:
    =number_to_percentage(submission.grade*100, precision: 0)
  -if submission.student_document.present?
    %p
      Student Document:
      =link_to("Student Document", submission.student_document.url, target: "_blank")
  -else
    %p No student document uploaded  
  -if submission.grader_document.present?
    %p
      Grader Document:
      =link_to("Grader Document", submission.grader_document.url, target: "_blank")
  -else
    %p No grader document uploaded        
  -if ["administrator", "grader"].include? session[:role_type]
    %p
      =link_to("Grade Submission", edit_submission_path(submission))
  -if ["student"].include? session[:role_type]
    %p
      =link_to("Edit Assignment", edit_submission_path(submission))      