%h4 Student Info
%p
  Username:
  =link_to(@submission.student.username, student_path(@submission.student))
-if @submission.description.present?
  %p
    Student Comments:
    =@submission.description
=@submission.student_document_button.html_safe