-if @submission.graded_at.present?
  %hr
  %h4 Grader Info
  %p
    Graded By:
    =@submission.graded_by_username  
  %p
    Current Grade:
    =number_to_percentage(@submission.grade*100, precision: 0)
  =@submission.grader_document_button.html_safe
  -if @submission.feedback.present?
    %p
      Grader Feedback:
      =@submission.feedback