-if submissions.present?
  .row
    .col-md-10.col-md-offset-1
      %table.table.table-striped
        %thead
          %tr
            %th Student
            %th Submitted
            %th Graded
            %th Show Submission
        %tbody
          -submissions.each do |submission|
            %tr
              %td= link_to(submission.student.username, student_path(submission.student))
              %td= submission.submitted_at_string
              %td= submission.graded_at_string
              %td= link_to("Show Submission", submission_path(submission), :class=>"btn btn-success")
-else
  %p There are no submissions