-if @submission.description.present?
  %p
    Student Comments:
    =@submission.description
-if @submission.student_document.present?
  %p
    Student Document:
    =link_to("Student Document", @submission.student_document.url, target: "_blank")
-else
  %p No student document uploaded 

=form_for @submission do |f|
  %p
    Enter Student Grade:
    =f.text_field :grade
  %p
    Enter Feedback:
    =f.text_field :feedback
  %p
    Upload Document:
    =f.file_field :grader_document
  %p=f.submit