%h3= "Info for assignment #{@submission.assignment.resource_link_id}"
%hr
=render "submissions/info_student"
-if ["student"].include? session[:role_type]
  -if @submission.submitted_at.present?
    %hr
    %h4 Your assignment has been submitted.
  -if true
    %hr
    %p= link_to("View Assignment", edit_submission_path(@submission), :class => 'btn btn-primary')
  -if @submission.graded_at.present?
    %hr
    %h4 Your assignment has been graded.    
=render "submissions/info_grader"
%hr
-if ["administrator", "grader"].include? session[:role_type]
  -if @submission.submitted
    %p= link_to("Grade Student Submission", edit_submission_path(@submission), :class => 'btn btn-primary')
    %hr
    %p=link_to("Mark as not submitted", unsubmit_submission_path(@submission), :class => 'btn btn-warning')
  -else
    %h4 Submission hasn't been submitted.