.row{:style=>"margin-top: 10px"}
  .col-md-8.col-md-offset-2
    .btn-group
      %a.btn.btn-primary{href: student_admin_path()} Student Info  
      %a.btn.btn-primary{href: grader_admin_path()} Grader Info
      %a.btn.btn-primary{href: assignment_admin_path()} Assignment Info
